*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url('bg1.jpg');
    background-size: cover;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: auto;
}

.juniorLogo img{
    width: 70px;
    height: 70px;
    margin-left: 20px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logoImg{
    width:25rem;
    height: 25rem;
}
